.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;
    font-family: "Outfit", sans-serif;

}


#container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
} 

#card{
    max-width: 274px;
    background-color: #ffffff;
    border-radius: 10px;
    padding-bottom: 14px;
}

#qrcode{
    width: 254px;
    margin: 10px;
    border-radius: 10px;
}

.padder{
    padding: 5px 23px 12px 23px;
    text-align: center;
}

#statement{
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}

#description{
    color: hsl(216, 15%, 48%);
    font-weight: 400;
}